@model MyApp.ReadModel.Model.TaskSummaryModel
@{
    ViewBag.Title = "Dashboard";
}

<h1>Dashboard</h1>
<h4><b>@Model.CompletedCount</b> Completed Task(s)</h4>

<h3>Overview Uncompleted Tasks</h3>

<div class="progress">
    <div class="progress-bar progress-bar-success" style="width:@(Model.UncompletedLowPercentage)%">@(Model.UncompletedLowPercentage)% Low</div>
    <div class="progress-bar progress-bar-warning" style="width:@(Model.UncompletedMediumPercentage)%">@(Model.UncompletedMediumPercentage)% Medium</div>
    <div class="progress-bar progress-bar-danger" style="width:@(Model.UncompletedHighPercentage)%">@(Model.UncompletedHighPercentage)% High</div>
</div>

<h3>Top 5 Uncompleted Tasks</h3>

<table class="table table-condensed">
    <thead>
        <tr>
            <th></th>
            <th>Title</th>
            <th>DueDate</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var taskModel in Model.Top5HighPriorityTasks)
        {
            <tr>
                <td>@MyHelpers.PriorityToIcon(taskModel.Priority)</td>
                <td>@taskModel.Title</td>
                <td>@taskModel.DueDate</td>
                <td>@Html.ActionLink("Detail", "Detail", new { Id = taskModel.Id })</td>
            </tr>
        }
    </tbody>
</table>

<a class="btn btn-default" href="/Task/Add"><span class="glyphicon glyphicon-pencil"></span> Add New Task</a>