@model IReadOnlyList<MyApp.ReadModel.Model.TaskDetailModel>
@{
    ViewBag.Title = "Index";
}

<h2>All Tasks Items</h2>

<table class="table table-condensed">
    <thead>
        <tr>
            <th></th>
            <th>Title</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var taskModel in Model)
        {
            <tr>
                <td>@MyHelpers.PriorityToIcon(taskModel.Priority)</td>
                <td>@taskModel.Title</td>
				<td>
					@Html.ActionLink("Detail", "Detail", new { Id = taskModel.Id })
					@Html.ActionLink("Delete", "Delete", new { Id = taskModel.Id })
				</td>
            </tr>
        }
    </tbody>
</table>

@Html.ActionLink("Add", "Add")