<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Task Application</title>
    <link href="~/Content/styles.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Todo List", "Dashboard", "Task", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Dashboard", "Dashboard", "Task")</li>
                    <li>@Html.ActionLink("All Tasks", "Index", "Task")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content theme-showcase" role="main">

        @if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
        {
            <div class="alert alert-danger">
                <a href="#" class="close" data-dismiss="alert">×</a>
                <h4>Validation Errors</h4>
                @Html.ValidationSummary()
            </div>
        }

        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Task Application</p>
        </footer>
    </div>
    <script src="~/Scripts/libs.min.js"></script>
    <script>
        $(".validation-summary-errors").removeClass("validation-summary-errors");
        $(".input-validation-error").removeClass("input-validation-error").parent().addClass("has-error");
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>